@charset "utf-8";


/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	border-image:initial;
	outline-width:0;
	outline-color:#000000;
	outline-style:initial;
	font-size:100%;
	vertical-align:baseline;
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:transparent;
	border:0px initial #000000;
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:#FF7300;
}

/*a:visited{color:#666;}*/

#menu {
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	margin:10px auto 10px auto;
	padding:0;
}

#data {
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	margin:10px 0px 10px 0px;
	padding:10px 0px 10px 0px;
}

.menu_2 {
	width:650px;
	margin:10px auto 10px auto;
}

.container {
	margin-left:0;
	margin-right:auto;
	width:650px;
	position:relative;
	font-family:宋体;
	font-size:13px;
}

.container_edit {
	width:650px;
	position:relative;
	font-family:宋体;
	font-size:13px;
	margin:0px auto 0px auto;
}

.right {
	text-align:right;
}

.r_title {
	font-family:宋体;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	text-align:center;
	background-color:#FF9999;
	margin-bottom:10px;
}

.r_head {
	font-family:宋体;
	font-size:13px;
	color:#000000;
	text-align:left;
}

.center {
	text-align:center;
}

.tb_content {
	border-image:initial;
	border:1px solid #000000;
}

.r_content table tr td {
	height:28px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-color:#666666;
	border-right-color:#666666;
	border-bottom-color:#666666;
	border-left-color:#666666;
}

.menubar {
	color:#222222;
	cursor:pointer;
	display:block;
	height:20px;
	width:100%;
	line-height:17px;
	outline-style:none;
	outline-width:0;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	border-bottom:1px solid #AACCF6;
	padding:3px;
}

.menubar:hover {
	text-decoration:none;
}

